{$FUBAO_DOMAIN} {
  encode zstd gzip
  reverse_proxy api:3000
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
  }
  log {
    output stdout
    format json
  }
}
